.modal
    .ant-row
        display: flex

        .ant-form-item-label
            float: left
            text-align: right
            width: 160px

        .ant-form-item-control-wrapper
            flex: 1

    &.tokenModal
        .ant-row
            display: flex

            .ant-form-item-label
                width: 140px

    .selectWrap
        display: flex

        .ant-row

            &:last-child
                flex: 1
                margin-left: 10px

.ant-upload
    img
        max-width: 100%
        max-height: 104px

.ant-tabs-tabpane
    .title
        padding: 10px 0 20px 
        font-size: 16px
        font-weight: bold

.ant-result
    margin: 0 auto