html, body
    height auto

#root
    height: 100%

#root > [class^='page']
    position: relative
    padding: 0 15px

.lt-spin
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.lt-main
    clear: both
    padding: 100px 0 0 
