.pageList
    padding: 20px

    .search
        display: flex

        :global
            .ant-form-item
                margin: 0

            .ant-form-item-explain-error
                display: none

        .btn
            width: 80px
            height: 32px
            line-height: @height
            margin: 0 0 0 10px

    .list
        margin: 20px 0 0