.nav
    width: 200px
    background: #222832

    .logo
        height: 50px
        line-height: @height
        text-align: center
        color: #fff
        border-bottom: 1px solid rgba(#fff, .2)
        font-size: 18px
        font-weight: bold

    .main
        padding: 20px
        color: #fff

        .navItem
            border-bottom: 1px solid #ddd
            height: 40px
            line-height: @height

        .subNav
            padding: 0 20px

            .subNavItem
                border-bottom: 1px solid #ddd
                height: 40px
                line-height: @height